<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">




  <display-name>MediCare Web Application</display-name>

<!-- Welcome File List -->
<welcome-file-list>
  <welcome-file>index.jsp</welcome-file>
  <welcome-file>patient.jsp</welcome-file>
  <welcome-file>DOCTOR.jsp</welcome-file>
</welcome-file-list>

<!-- Servlet Declarations -->
<servlet>
  <servlet-name>Servlethome</servlet-name>
  <servlet-class>com.MediCare.Home.homeServlet.Servlethome</servlet-class>
</servlet>

<servlet>
  <servlet-name>Servletpaatient</servlet-name>
  <servlet-class>com.MediCare.Patient.patientServlet.Servletpaatient</servlet-class>
</servlet>

<servlet>
  <servlet-name>ServletDoctor</servlet-name>
  <servlet-class>com.MediCare.Doctor.doctorServlet.ServletDoctor</servlet-class>
</servlet>


<servlet>
  <servlet-name>ServletAppointment</servlet-name>
  <servlet-class>com.MediCare.Appointment.AppointmentServlet.ServletAppointment</servlet-class>
</servlet>

<!-- Servlet Mappings -->
<servlet-mapping>
  <servlet-name>Servlethome</servlet-name>
  <url-pattern>/Home</url-pattern>
</servlet-mapping>

<servlet-mapping>
  <servlet-name>Servletpaatient</servlet-name>
  <url-pattern>/Patient</url-pattern>
</servlet-mapping>

<servlet-mapping>
  <servlet-name>ServletDoctor</servlet-name>
  <url-pattern>/Doctor</url-pattern>
</servlet-mapping>

<servlet-mapping>
  <servlet-name>ServletAppointment</servlet-name>
  <url-pattern>/Appointment</url-pattern>
</servlet-mapping>


  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>




</web-app>